.social-media-icons{
	background: orange; height: 30px;
}

.search{
	background: gray; height: 30px;
}

/* Ajustando a disposição dos Menus */
.main-menu ul li{
	display: inline;
	padding-right: 1rem;
}

.footer-menu ul li{
	display: inline;
	padding-right: 1rem;
}